<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-10 mx-auto">
      <div class="row">
        <div class="col-12">
          <div class="h3 mx-5 mb-3 mt-5 font-weight-light">Encontre um curso</div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="form-inline mx-5">
            <input type="search" class="form-control col-12 search-input">
            <button type="button" class="btn btn-link btn-search">
              <img src="assets/images/search.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-10 col-lg-10 mx-auto">
      <div class="h4 mx-2 mx-md-5 mx-lg-5 pb-0 font-weight-light">Cursos sugeridos para você</div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center row-cards mt-0 pt-0">

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 17rem;">
      <div style="width: 5rem; height: 10rem"></div>

      <div class="card-body">
        <h5 class="card-title">Microsoft Word</h5>
        <p class="card-text">Este curso preparará você para utilização básica do Microsoft Word.</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 17rem;">
      <div style="width: 5rem; height: 10rem"></div>
      <div class="card-body">
        <h5 class="card-title">Excel para Negócios</h5>
        <p class="card-text">O Excel é uma das ferramentas mais usadas no mundo dos negócios. Neste curso ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 17rem;">
      <div style="width: 5rem; height: 10rem" ></div>

      <div class="card-body">
        <h5 class="card-title">Excel para Negócios</h5>
        <p class="card-text">O Excel é uma das ferramentas mais usadas no mundo dos negócios. Neste curso ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>
  </div>

</div>

<div style="height:8rem"></div>
