<div class="container bg-light my-5">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="h3 mx-3 font-weight-light">Quem sabe você não se interessa por alguma dessas vagas?</div>
    </div>
  </div>

  <div class="row p-5" *ngIf="list$ | async">
    <div class="col-lg-6 col-12 my-5" *ngFor="let l of list; let i = index">
      <div class="col-12">
        <!--<div class="bg-info rounded-circle" style="width: 9rem; height: 9rem">

        </div>-->
        <div class="my-3">
          <img src="assets/images/empresa{{i+1}}.png" alt="empresa img" class="img-fluid rounded-circle">
        </div>

        <div class="h5 mt-5">
          {{l.nome}}
        </div>

        <div class="text-capitalize">
          <p>{{l.descricao}}</p>
        </div>

        <div>
          <button type="button" class="btn btn-primary" [routerLink]="['/vagasDetails', l.id]">Saiba mais</button>
        </div>
      </div>
    </div>

  </div>

</div>
