<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <div class="h3 mx-5 mb-3 mt-5 font-weight-light">Encontre a vaga que é a sua cara</div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-12">
      <div class="form-inline mx-5">
        <input type="search" class="form-control col-12 search-input">
        <button type="button" class="btn btn-link btn-search">
          <img src="../../../assets/images/search.png">
        </button>
      </div>
    </div>
  </div>
</div>
