<app-nav-menu></app-nav-menu>

<app-cursos-search></app-cursos-search>


<div class="container">
  <div class="row m-3 my-5">
    <div class="h2">Destaque por Categoria</div>
  </div>

  <div class="h3 m-3 my-5 font-weight-bold">Informática</div>
  <div class="row justify-content-center align-items-center">

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso1.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Excel para Negócios</h5>
        <p class="card-text">O Excel é uma das ferramentas mais usadas no mundo dos negócios. Neste curso ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso2.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Excel para Negócios</h5>
        <p class="card-text">O Excel é uma das ferramentas mais usadas no mundo dos negócios. Neste curso ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso3.png" alt="Curso img">

      <div class="card-body">
        <h5 class="card-title">Excel para Negócios</h5>
        <p class="card-text">O Excel é uma das ferramentas mais usadas no mundo dos negócios. Neste curso ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>
  </div>

  <div class="h3 m-3 my-5 font-weight-bold">Indústria</div>
  <div class="row justify-content-center align-items-center">


    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso4.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Solda Mig</h5>
        <p class="card-text">Este curso prático de técnicas de soldagem com a máquina de soldas Mig</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso5.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Calderaria</h5>
        <p class="card-text">Este é um curso prático com técnicas para interpretação de desenhos ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso6.png" alt="Curso img">

      <div class="card-body">
        <h5 class="card-title">Tornearia</h5>
        <p class="card-text">Este é um curso prático para atuação em tornos mecânicos... </p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>
  </div>

  <div class="h3 m-3 my-5 font-weight-bold">Confeitaria</div>
  <div class="row justify-content-center align-items-center">

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso7.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Doces</h5>
        <p class="card-text">Neste curso você aprenderá a fazer doces diversos e deliciosos.</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso8.png" alt="Curso img">
      <div class="card-body">
        <h5 class="card-title">Bolos</h5>
        <p class="card-text">Aprenda técnicas de confeitaria de bolos de aniversário, casamento e eventos em geral. </p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>

    <div class="card text-center mx-3 mt-2 mt-md-0" style="width: 15rem;">
      <img class="img-fluid" src="assets/images/curso9.png" alt="Curso img">

      <div class="card-body">
        <h5 class="card-title">Tortas</h5>
        <p class="card-text">Aprenda a fazer tortas deliciosas como uma variedade incrível de possibilidades. Este é um ...</p>
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/cursosDetails', '32']">Acessar</a>
      </div>
    </div>
  </div>

</div>


<app-footer-bar></app-footer-bar>
