<app-nav-menu></app-nav-menu>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="h2 font-weight-light m-4 col-12">Microsoft Word</div>

      <ul class="col-10 mx-auto my-3 list-curso-hab">
        <li>Transforme documentos em páginas da Web</li>
        <li>Obtenha tradução em tempo real com apenas um clique</li>
        <li>Adicione mais dimensão aos seus documentos</li>
        <li>Revise e leia seu texto com facilidade</li>
        <li>Não é preciso sair de seus documentos ao fazer pesquisas</li>
        <li>Melhore sua escrita de boa para excelente</li>
      </ul>

      <div class="row justify-content-start align-items-center m-5">
        <div class="col-6">
          <div class="h4 font-weight-light">Carga Horária</div>
        </div>
        <div class="col-6">
          <div class="h4">15 horas</div>
        </div>
      </div>

      <div class="row justify-content-start align-items-center mt-5 mx-5">
        <div class="h4 font-weight-light">
          Regra para Aprovação e Pontuação
        </div>

        <ul class="col-12 mx-auto my-3 list-curso-hab">
          <li>Obter pelo menos 75% dos pontos</li>
          <li>Terminar o Curso em até 5 dias para ganhar 100% dos pontos.</li>
        </ul>
      </div>

      <div class="form-group text-center my-5">
        <button class="btn btn-primary btn-block">Inscrever</button>
      </div>

    </div>

    <div class="col-lg-6 d-lg-block d-none bg-light banner-curso">
      <img
        src="assets/images/curso-banner.png"
        alt="images/curso-banner.jpg"
        class="img-fluid"
      >
    </div>
  </div>
</div>

<app-cursos-search></app-cursos-search>



<app-footer-bar></app-footer-bar>
