<div class="container-fluid bg-light">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-lg-8 col-12 py-5">
      <div class="title-mobile pl-4">
        Você quer fazer parte desse movimento incrível de mudar o mundo?
      </div>
    </div>
    <div class="col-lg-4 col-12 text-center">
      <button type="button" class="btn btn-primary mx-2">Junte-se a nós</button>
      <button type="button" class="btn btn-outline-primary mx-2">Contate-nos</button>
    </div>

  </div>
</div>
