<div class="container mt-5">
  <div class="row justify-content-center align-items-center pt-5 pb-1 font-menu-footer">

    <div class="col ml-5">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Mobile App</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Comunidade</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Imprensa</a>
          </li>
        </ul>
      </div>
    </div>



    <div class="col">
      <div class="col-8 mx-auto">
        <img src="assets/images/logo.png" class="mx-auto img-fluid">

      </div>
    </div>

    <div class="col ml-5">
      <div class="navbar navbar-expand-lg text-center">
        <ul class="navbar-nav">
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Ajuda</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Blog</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link font-weight-bold text-dark" href="javascript:;">Recurso</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>


<div class="container">
  <div class="row text-center mt-5 mb-3">
    <div class="col-6 mx-auto fontIcon">
      <a href="javascript:;">
        <fa-icon class="m-2 linke-color" [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="javascript:;">
        <fa-icon class="m-2 face-color" [icon]="faFacebook"></fa-icon>
      </a>
      <a href="javascript:;">
        <fa-icon class="m-2 fontIcon insta-color" [icon]="faInstagram"></fa-icon>
      </a>
      <a href="javascript:;">
        <fa-icon class="m-2 twitter-color" [icon]="faTwitter"></fa-icon>
      </a>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="col-6 mx-auto text-center text-black-50 font-footer">
      <p>© Ingressar, Inc. 2021. Nós queremos mudar o mundo!</p>
    </div>
  </div>
</div>
