<app-nav-menu></app-nav-menu>


<div class="container-fluid">
  <div class="row m-5">
    <div class="col-lg-6 col-12">
      <div class="h1 font-weight-light pt-4">Assistente de RH</div>
      <div class="h5">Administrativo</div>
      <div class="h5 font-weight-light mb-4"><b>Empresa:</b> Compass UOU</div>

      <div class="h3 font-weight-light mt-5">
        O que você irá fazer:
      </div>

      <ul class="col-12 mx-auto my-3 list-curso-hab p-3">
        <li>Agendar avaliação de candidatos</li>
        <li>Acompanhar testes psicológicos</li>
        <li>Auxiliar no atendimento aos clientes</li>
        <li>Fazer triagem de currículos</li>
        <li>Auxiliar a equipe de RH</li>
        <li>Outras funções.</li>
      </ul>

      <div class="h3 font-weight-light my-5">
        Salário: R$ 950,00
      </div>

      <div class="h3 font-weight-light ">
        Pré-requisitos:
      </div>

      <ul class="col-12 mx-auto my-3 list-curso-hab p-3">
        <li>Curso de Microsoft Word</li>
        <li>Curso de Digitação</li>
        <li>Curso de Oratória</li>
      </ul>

      <button type="button" class="btn btn-primary btn-block">Candidatar</button>
    </div>


    <div class="col-lg-6 d-none d-lg-block">
      <img src="assets/images/banner-vaga.png" alt="images/banner-vaga" class="img-fluid">
    </div>
  </div>

</div>


<app-vagas-search></app-vagas-search>

<app-vagas-list></app-vagas-list>

<app-footer-bar></app-footer-bar>
