.img-backdrop
{
  position: relative;
  top: 0;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background: url("../../../assets/images/backdrop-vagas.png");
  background-position: center;
  background-size: cover;
  z-index: 80;
}

.div-super
{
  z-index: 100;
  background: white;
  position: relative;
  top: 10px;
}
