<div class="container-fluid bg-light">
  <div class="row justify-content-center align-items-center width70">
    <img src="assets/images/group.png" class="img-fluid mt-5">
    <div class="col-12 text-center">
      <div class="display-4 d-md-block d-none mb-2 text-white text-shadow">Saiba como nosso Programa funciona</div>
      <div class="col-12 d-block d-md-none title-mobile text-white  text-shadow">Saiba como nosso Programa funciona</div>
      <button type="button" class="btn btn-lg btn-primary mt-3 mb-5">Junte-se a nós</button>
    </div>
  </div>
</div>
