<div class="container-fluid">
  <div class="row text-center mt-5">
    <div class="col-12 mt-5">
      <div class="display-4">Cursos em destaque</div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 text-center">
      <p class="title-5 font-weight-light">
        São mais de xxxxx mil cursos disponíveis e mais yyyyy profissionais qualificados em nossa plataforma. Entre e encontre sua melhor oportunidade
      </p>
    </div>
  </div>

  <div class="container my-5">
    <div class="row col-lg-10 col-md-12 mx-auto justify-content-center align-items-center">

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2">
        <div class="card-body text-center">
          <h6>Marketing</h6>
        </div>
      </div>

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2" >
        <div class="card-body text-center">
          <h6>Lógica</h6>
        </div>
      </div>

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2">
        <div class="card-body text-center">
          <h6>Programação Web</h6>
        </div>
      </div>

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2">
        <div class="card-body text-center">
          <h6>Elétrica</h6>
        </div>
      </div>

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2">
        <div class="card-body text-center">
          <h6>Mecânica</h6>
        </div>
      </div>

      <div class="card bg-light col-lg-3 col-md-6 col-12 m-2">
        <div class="card-body text-center">
          <h6>Brainstorm</h6>
        </div>
      </div>

    </div>
  </div>
</div>
