<div class="container-fluid bg-light">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-lg-8 col-12 py-5">
      <div class="h4 pl-4 text-justify">
        Faça sua análise de perfil profissional. Ela vai te ajudar a identificar os cursos adequados para você e que profissiões podem ser mais adequadas para você conhecer.
      </div>
    </div>
    <div class="col-lg-4 col-12 text-center">
      <button type="button" class="btn btn-primary mx-2" routerLink="/vocationalTest">Iniciar</button>
    </div>

  </div>
</div>
